:root{
    --slate-50:#F1F6FB;
    --slate-60:#F6F8FB;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    font-family: 'Nunito', sans-serif;
}
body{
    overflow: hidden;

    max-height: 100vh;
    width: 100%;
}


.cabecalho-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(17, 80, 134);
    font-style: unset;  
    align-items: center;
    padding: 1rem 3rem;
}
#titulos{
    text-decoration: none;
    color: var(--slate-50);
    letter-spacing: 0.05rem;
    
}
#titulos:hover{
    text-decoration: underline;
    color: var(--slate-50);
    font-size: 1rem;
    
}
#perfil{
    margin-right: 2vw;
}
#inicio{
    margin-left: 2vw;
}
.nav-bar-esquerda{
    display: flex;
    flex-direction: column; 
    width: 20vw;
    float: left;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 1.1vw;
}
.nav-bar-esquerda li{
    display: flex;
    align-items: center;
}
.sectionItem{
    width: 20vw;
    padding: 1rem;
    display: block;
    cursor: pointer;
    transition: 0.5s ease;
    
}
.sectionItem-Painel{
    width: 100vw;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--slate-50);
    
}
.sectionItem-Painel a{
    color: #84909B;
    text-decoration: none;
}

.sectionItem:hover{
    background-color: var(--slate-50);
    letter-spacing: 0.05rem;
}

.sectionTitle{
    display: flex;
    align-items: center;
    color: #84909B;
    gap: 0.5rem;
    letter-spacing: 0.05rem;
}


.recentItems{
    display: none;    
}

  .recentItems a{
    height: 6.25rem;
  }

  .sectionTitle:hover + .recentItems {
    display: block;
    padding: inherit;
    letter-spacing: 0.05rem;
    
  }
  .sectionItem a{
    color: #84909B;
    text-decoration: none;
    
  }
  
  .recentItems:hover{
    display: block;
    padding: inherit;
    
  }
  .recentItems a{
    border-bottom: 0,0625rem solid black;
  }

.cabecalho-conteudo-recentes-menu{
    display: none;
    position: fixed;
    left:0;
    width:100%;
    

}
.cabecalho-conteudo-recentes, .nav-bar-esquerda li{
    list-style: none;

}
.cabecalho-conteudo > li:hover .cabecalho-conteudo-recentes-menu{
    background-color: rgb(63, 86, 148);
    border: 1px solid black;
    padding: 0.3125rem 1.875rem 0px 0.625rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.125rem;
    list-style: none;
    text-align: left;
    color: white;
    letter-spacing: 0.05rem;
}
#div1{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 8vh;
}
#div1 input{
    border: 1px solid black;
    border-radius: 10px;
}
form{
   padding-top: 30px;
}
#cadastrar{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    padding: 2px;
}


.cabecalho-conteudo .cabecalho-conteudo-recentes-menu a:hover{
    text-decoration: underline;
   
}
.cabecalho-conteudo-recentes a{
    color: white;
    padding: 0.625rem 0.625rem;
}
.cabecalho-conteudo-recentes-menu a:hover{
    cursor: pointer;
    border-bottom: 0.0625rem solid white;   
}

.input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}
.footer{
    background-color: rgb(17, 80, 134);
    padding: 1.25rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
   
  }

.footer p{
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 20vw;
    color: var(--slate-50);
    text-decoration: underline;
    letter-spacing: 0.1rem;
  }
  main{
    width: 80vw;
    margin-left: 20vw;
    height: 150vh;
    background-color: rgb(241,246,251);
  }
@media (max-width: 1200px){
    .cabecalho{
        width: 100vw;
        font-size: 10px;
    }
    .cabecalho-conteudo{
        width: 100vw;
    }
    .nav-bar-esquerda{
        display: flex;
        flex-direction: row;
        font-size: 10px;
        align-items: center;
        width: 100vw;
        gap: 25px;   
        border-bottom: 1px solid  rgb(17, 80, 134);
    }
    
    .footer{
        width: 100vw;
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        padding: 1.5vh;
    }
    main{
        margin-left: 0px;
        width: 100vw;
        
    }
    .sectionItem-Painel{
        width: 20vw;
        padding: 1rem;
        cursor: pointer;
        background-color: var(--slate-50);
        
    }
    .login{
        width: 45vw;
    }

}

  